body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
  }
  
  .form {
    margin-bottom: 20px;
  }
  
  input, button {
    margin: 5px;
  }
  
  .orcamento {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
  }

  /* Estilos para o modal (popup) */
.modal {
  display: none; /* Por padrão, o modal não é exibido */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro para destacar o modal */
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
